<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <style>
    body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }
    .hidden {
        display: none;
    }
    div.tooltip {
        color: #222;
        background-color: #fff;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.8;
        position: absolute;
        font-size: 8px;
    }
    .node circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 3px;
    }

    .node text {
      font: 12px sans-serif;
    }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 2px;
    }

    text {
        font-family: sans-serif;
        font-size: 0.5em;
    }
  </style>
</head>

<body>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="../../../viz/js/data/radialtree_model.js"></script>
    <script>

        class Tools {
            constructor(range, users) {
                this.sls = new SequenceLengthSlider(range, this);
                this.sls.draw()
                this.um = new UserMenu(users, this)
                this.um.draw()
                this.rtb = new RestartTreeButton(this)
                this.rtb.draw()
            }

            set_tree_ref(ref) {
                this.tree_ref = ref
            }

            send_filters(start="Screen on (unlocked)") {
                
                
                this.tree_ref.update_filters(start, this.um.get_value(), this.sls.get_value())
            }

            restartTree() {
                this.send_filters()
            }
        }

        class RestartTreeButton {
            constructor(tools_ref) {
                this.tools_ref = tools_ref
            }

            draw() {
                let that = this

                this.button = d3.select("body")
                    .append("button")
                    .attr("type", "button")
                    .text("Restart Tree")
                    .on("click", function() {
                        that.tools_ref.restartTree()
                    })
            }
        }

        class UserMenu {
            constructor(users, tools_ref) {
                this.users = []
                for (let u of users) {
                    this.users.push(u)
                }
                this.tools_ref = tools_ref
                this.selectedValue = this.users[0]

            }

            draw() {
                let that = this
   

                this.dropdown = d3.select("body")
                    .append('select')
                    .on("change", function() {
                        that.selectedValue = this.children[this.selectedIndex].value
                        that.tools_ref.send_filters()
                    })

                this.dropdown.selectAll('option').data(this.users).enter().append('option')
                    .attr('value', d => d.toString())
                    .text(d => d)
            }

            get_value() {
                return this.selectedValue
            }
        }

        class SequenceLengthSlider {
            constructor(range, tools_ref) {
                this.range = range.filter(x => x < 30)
                this.tools_ref = tools_ref
            }




            draw() {
                this.sliderFill = d3
                    .sliderBottom()
                    .width(300)
                    .min(d3.min(this.range))
                    .max(d3.max(this.range))
                    .tickFormat(d3.format("i"))
                    .tickValues(this.range)
                    .default(1)
                    .step(1)
                    .fill('#2196f3')
                    .on('onchange', d => {
                      this.tools_ref.send_filters()
                    });

                var gFill = d3
                    .select('body')
                    .append('svg')
                    .attr('width', 500)
                    .attr('height', 100)
                    .append('g')
                    .attr('transform', 'translate(30,30)');

                gFill.call(this.sliderFill);

            }

            get_value() {
                return this.sliderFill.value()
            }

        }
        
    

        class RadialTree {
            constructor(cx, cy, rtm, tools_ref) {
                this.cx = cx;
                this.cy = cy;
                this.rtm = rtm
                this.tools_ref = tools_ref
                this.tooltip = d3.select("body").append('div').attr('class', 'hidden tooltip');
            }

            get_correct_time(time) {
                return time / 10
            }

            get_size(time) {
                return Math.sqrt(this.get_correct_time(time) / Math.PI)
            }

            seconds_to_time(sec) {
                let h = Math.floor(sec / 3600)
                let hs = h > 0 ? h + "h " : ""
                sec = sec % 3600;
                let m = Math.floor(sec / 60)
                let ms = m > 0 ? m + "m " : ""
                let ss = (sec % 60) + "s"

                return hs + ms + ss
            }

            update_filters(start, id, minimum) {
                this.rtm.filter_tree(id, minimum, start)
                d3.select("#radial_tree").node().remove()
                this.draw_den()
            }

            draw_den() {

                let that = this

                let data = this.rtm.get_tree()

                let width = 975
                let radius = width / 2
                let tree = d3.cluster().size([2 * Math.PI, radius - 100])

                const root = tree(d3.hierarchy(data)
                    .sort((a, b) => d3.ascending(a.data.name, b.data.name)));

                

                const svg = d3.select("body").append("svg")
                    .attr("id", "radial_tree")
                    .style("max-width", "100%")
                    .style("height", "auto")
                    .style("font", "10px sans-serif")
                    .style("margin", "5px");

                  
                const link = svg.append("g")
                    .attr("id", "links")
                    .attr("fill", "none")
                    .attr("stroke", "#555")
                    .attr("stroke-opacity", 0.4)
                    .selectAll("path")
                    .data(root.links())
                    .enter().append("path")
                    .attr("stroke-width", d => (d.target.data.nb_use) / 3)
                    .attr("d", d3.linkRadial()
                        .angle(d => d.x)
                        .radius(d => d.y))

                    .on("mouseover", function(d) {

                        that.enable_focus_path(d, that)
                    })
                    .on("mousemove", function(d) {
                        let mouse_position = d3.mouse(d3.select("body").node())

                        let nb_use = d.target.data.nb_use
                        let str = nb_use + " sequences"
                        if (nb_use == 1) {
                            str = nb_use + " sequence"
                        }

                    // on affiche le toolip
                        that.tooltip.classed('hidden', false)
                            // on positionne le tooltip
                            .attr('style', 'left:' + (mouse_position[0] + 10) +
                                'px; top:' + (mouse_position[1] - 15) + 'px')
                            // on recupere le nom de l'etat 
                            .html(str);
                    })
                    .on('mouseout', function() {
                        that.tooltip.classed('hidden', true)
                        // on cache le toolip
                        that.disable_focus();
                    });
                  
                const node = svg.append("g")
                    .attr("id", "nodes")
                    .attr("stroke-linejoin", "round")
                    .attr("stroke-width", 3)
                    .selectAll("g")
                    .data(root.descendants().reverse())
                    .enter().append("g")
                    .attr("transform", d => `
                        rotate(${d.x * 180 / Math.PI - 90})
                        translate(${d.y},0)
                    `)
                    .on('mouseover', function(d) {
                        
                        that.enable_focus_application(d, that);
                        
                    })
                    .on("mousemove", function(d) {
                        let mouse_position = d3.mouse(d3.select("body").node())
                    // on affiche le toolip
                        that.tooltip.classed('hidden', false)
                            // on positionne le tooltip
                            .attr('style', 'left:' + (mouse_position[0] + 10) +
                                'px; top:' + (mouse_position[1] - 15) + 'px')
                            // on recupere le nom de l'etat 
                            .html(d.data.name);
                    })
                    .on('mouseout', function() {
                        that.tooltip.classed('hidden', true)
                        // on cache le toolip
                        that.disable_focus();
                    })
                    .on('click', function(d) {
                        that.tools_ref.send_filters(d.data.name)
                        that.tooltip.classed('hidden', true)
                    });
                  
                node.append("circle")
                    .attr("fill", d => d.children ? "#555" : "#999")
                    .attr("r", 2.5);

                const images = node.append("image")
                    .attr("xlink:href", d => d.data.image)
                    .attr("width", 20)
                    .attr("height", 20)
                    .attr("x", -10)
                    .attr("y", -10)
                  
                svg.attr("viewBox", autoBox);

                  

                function autoBox() {
                  const {x, y, width, height} = this.getBBox();
                  return [x, y, width*2, height*2];
                }

            }

            enable_focus_path(edge, that) {
                let children = that.get_all_children(edge.target)
                let parents = that.get_all_parents(edge.target)

                d3.select("#links").selectAll("path")
                    .attr("opacity", function(e) {
                        if (!children.includes(e.target)) {
                            return 0.2
                        }
                        return 1
                    });

                d3.select("#nodes").selectAll("g")
                    .attr("opacity", function(e) {

                        if (!parents.includes(e) && !children.includes(e)) {
                            return 0.2
                        }
                        return 1
                        
                    });
            }

            enable_focus_application(d, that) {
                let children = []
                let parents = []

                d3.select("#nodes").selectAll("g")
                    .each(function(e) {

                        if (d.data.name == e.data.name) {
                            
                            children = children.concat(that.get_all_children(e))
                            parents = parents.concat(that.get_all_parents(e))
                        }
                    });


                let up_app = []
                
                d3.select("#nodes").selectAll("g")
                    .attr("opacity", function(e) {

                        if (!parents.includes(e) && !children.includes(e)) {
                            return 0.2
                        }
                        up_app.push(e)
                        return 1
                        
                    });


                d3.select("#links").selectAll("path")
                    .attr("opacity", function(e) {

                        if (up_app.includes(e.target)) {
                            return 1
                        }
                        return 0.2
                    });
            }

            disable_focus() {
                d3.selectAll("#nodes").selectAll("g")
                    .attr("opacity", function(e) {
                        return 1
                    })


                d3.selectAll("#links").selectAll("path")
                    .attr("opacity", function(e) {
                        return 1
                    })
            }

            get_all_parents(d) {
                let res = []

                while (d.parent != null) {
                    res.push(d.parent)
                    d = d.parent
                }

                return res
            }

            get_all_children(d) {
                let res = []
                res.push(d)
            
                if (d.children != undefined) {
                    for (let c of d.children) {
                        let chi = this.get_all_children(c)
                        
                        res = res.concat(chi)
                        
                    }
                }
                return res
            }
        }

        let xobj = new XMLHttpRequest();
        xobj.overrideMimeType("application/json");
        xobj.open('GET', '../../../data/dataset.json', true);
        xobj.onreadystatechange = function () {
                if (xobj.readyState == 4 && xobj.status == "200") {
                    let data = JSON.parse(xobj.responseText)

                    let rtm = new RadialTreeModel(data, 10)
                    //rtm.apply_filters(0, 1e10, 0.05, 1)
                    rtm.filter_tree(id="1")


                    let tools = new Tools(rtm.get_tree_uses(), rtm.get_users())
                    

                    let rt = new RadialTree(500, 500, rtm, tools)
                    rt.draw_den()

                    tools.set_tree_ref(rt)


                    

                    

                    
                }
        };
        xobj.send(null);
    </script>
</body>
