<div id='userfilter'>

</div>
<script>
    class UserFilter {
        constructor(users, tools_ref) {
            this.users = []
            for (let u of users) {
                this.users.push(u)
            }
            this.tools_ref = tools_ref
            this.selectedValue = this.users[0]

        }

        draw() {
            let that = this


            this.dropdown = d3.select("body")
                .append('select')
                .on("change", function() {
                    that.selectedValue = this.children[this.selectedIndex].value
                    that.tools_ref.send_filters()
                })

            this.dropdown.selectAll('option').data(this.users).enter().append('option')
                .attr('value', d => d.toString())
                .text(d => d)
        }

        get_value() {
            return this.selectedValue
        }
    }
</script>