<!-- TODO 
Check l'architecture de vue
Affiche une simple checkbox pour chaque user
    -> Rework later
Appel updateViz avec params.
-->

<div id="company">
    <ul id='BestBrands'>
        <script>
            for user in users
    <label class="checkbox">
                                                    <input class="select-all" type="checkbox" id="brandAll"  name="bands" value="M&B"
                                                    onclick="selectMainBrandALL('brandAll');">
                                                    Select All</label>

    <label class="checkbox">
                                                    <input type="checkbox" id="TCS"  name="TCS" 
                                                     >
                                                    TCS</label>

    <label class="checkbox">
                                                    <input id="CTS" type="checkbox" name="CTS" " >
                                                    CTS </label>

     <label class="checkbox">
                                                    <input type="checkbox" id="info"  name="info" >
                                                    Info</label>
            
        </script>
    </ul>
</div>